.page{
  box-shadow: 0 0 40px 0 #CDCDCD;
  width: 320px;
  height: 485px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADJJREFUeNpivHv37n8GGgMWKM1IS0uYGOgARi0ZtWTUklFLRi0ZtWTUklFLBrclAAEGAHRCA8uHBii6AAAAAElFTkSuQmCC')
}