.toolbar {
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      display: inline-block;
      list-style: none;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 12px;
      text-align: center;
      i{
        display: block;
        font-size: 24px;
        margin: 5px 0;
      }
    }
  }
}